<!DOCTYPE html>
<meta name="color-scheme" content="light dark">
<meta name="supported-color-schemes" content="light dark">
<html style="font-family: sans-serif; font-size: 14px;">
  <body>
    <p>Hi there!</p>
    <p>
      It's Max from Give a Meal again. I sent you an email some time ago and wanted to check in to see if you had a chance to look at our program <a style="color: #0d7eff" href="https://www.give-a-meal.org"
      >www.give-a-meal.org</a>. We are currently looking for partners in and around Boston and I thought this could be interesting to you.
    </p>
    <p>
      We are building an online platform that helps both your bottom line as
      well as people who couldn't afford your products otherwise. We basically
      enable your customers to purchase additional full priced meals and drinks
      as donations.
    </p>
    <p>
      The process is super simple. Receiving a donation takes only a few
      seconds.
    </p>
    <p>
      We ran a small test with Livite and Mamaleh's in Brookline and they loved
      it. Now that the system has proven to work well we are looking to getting
      more food businesses on board. You can get more info and create your account
      <a style="color: #0d7eff" href="https://www.give-a-meal.org"
        >here</a
      >.
      <p>If you have any questions or need help getting started, I'd love to set
        a up a short call. Just reply to this email and we'll get you started selling and helping more in no time.</p>
    </p>
    <p>I’m looking forward to hear from you!</p>
    <p>All the Best,</p>
    <p>Max</p>
    <p style="margin: 0; height: 24px"></p>
    <!-- Image -->
    <img
      src="https://yfvkifqtoygzcggoiuqv.supabase.in/storage/v1/object/public/public/signature.png"
      width="30"
      height="35"
    />
    <p style="margin: 0; height: 8px"></p>
    <!-- Head -->
    <h3 style="font-size: 13px; font-family: sans-serif; margin: 0">
      Maximilian Benner
    </h3>
    <p style="font-size: 12px; font-family: sans-serif; margin: 0">Founder</p>
    <p style="font-size: 12px; font-family: sans-serif; margin: 0">
      Give a Meal
    </p>
    <p style="margin: 0; height: 8px"></p>
    <!-- Contact -->
    <a
      style="
        font-size: 12px;
        font-family: sans-serif;
        margin: 0;
        color: #0d7eff;
        display: block;
      "
      href="https://www.give-a-meal.org"
      >www.give-a-meal.org</a
    >
    <a
      style="
        font-size: 12px;
        font-family: sans-serif;
        margin: 0;
        color: #0d7eff;
        display: block;
      "
      href="mailto:max@give-a-meal.org"
      >max@give-a-meal.org</a
    >
    <p
      style="
        font-size: 12px;
        font-family: sans-serif;
        margin: 0;
        display: block;
      "
    >
      (857) 245-9642
    </p>
    <p style="margin: 0; height: 8px"></p>
    <!-- Address -->
    <p
      style="
        font-size: 12px;
        font-family: sans-serif;
        margin: 0;
        color: #cfcfcf;
      "
    >
      9450 SW Gemini Dr
    </p>
    <p
      style="
        font-size: 12px;
        font-family: sans-serif;
        margin: 0;
        color: #cfcfcf;
      "
    >
      PMB 22517
    </p>
    <p
      style="
        font-size: 12px;
        font-family: sans-serif;
        margin: 0;
        color: #cfcfcf;
      "
    >
      Beaverton, Oregon 97008 US
    </p>
  </body>
</html>
